@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --bg-color: #091a2f;
    --bg-sec: #0e2036;
    --acc-color: #6fffe9;
    --sec-color: #5bc0be;
    --ft-fml: "Josefin Sans", sans-serif;
    --ft-mono: "Source Code Pro", monospace;
    --debug-border: none;
    /* --debug-border: solid; remove this line for production */
}

*, *::after, *::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 8px;             
    height: 8px;            
  }
  
  ::-webkit-scrollbar-track {
    background: var(--bg-sec);     
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--acc-color);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  /* On hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4de4d2;
  }

  .scroll-gallery {
    scrollbar-width: thin; /* or auto / none */
    scrollbar-color: var(--acc-color) var(--bg-sec);
  }
  
#up-arr{
    height: 1.5em;
    min-width: 1.5em;
    background-color: var(--bg-sec);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1em;
    right: 1em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    text-anchor: end;
    border-radius: 100%;
    transition: color 0.5s;
    border: dashed 2px var(--acc-color);
}

#up-arr:hover{
    border: solid 2px var(--acc-color);
    color: var(--acc-color);
}

html{
    scroll-behavior: smooth;

    width: 100vw;
    height: auto;
    font-family: var(--ft-fml);
    overflow-x: hidden;
    
}

body{
    background-color: var(--bg-color);  
    height: 100vh;
    scroll-behavior: smooth;
    
}

/* ############################################# */
/* ############################################# */
/* ############ Navbar and Header Style ######## */
/* ############################################# */
/* ############################################# */


header{
    display: flex;
    width: 100%;
    height: 10vh;
    border-bottom: var(--debug-border) 1px var(--acc-color);
    justify-content: space-between;
    align-items: center;
}



.nav{
    font-family: var(--ft-mono);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3em;
    counter-reset: link-no;
    padding-right: 5rem;
}

.nav a::before{
    content: counter(link-no, decimal-leading-zero) ". ";
    position: relative;
    left: 0;
    color: var(--acc-color); /* marker color */
    font-weight: bold;
    transition: all 0.2s;
}

.nav a:hover::before{
    color: var(--sec-color);
}

.nav>li{
    display: block;
    color: white;
}


.nav a{
    counter-increment: link-no;
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
    
}

.nav a::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: var(--sec-color); 
    transition: width 0.3s ease; 
}

.nav a:hover::after {
    width: 100%;
}

.nav li:last-child>a::before{
    display: none;
}
.nav li:last-child>a{
    color: var(--acc-color);
    border: solid 2px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.3em;
    transition: all 0.2s;
}
.nav li:last-child>a::after{
    display: none;
}

.nav li:last-child>a:hover{
    
    border: dashed 2px;
    color: var(--sec-color);
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-left: 3rem;
    gap: 0.2em;
    user-select: none;
    color: white;
    font-family: var(--ft-mono);
    font-size: 2rem;
    padding-right: 2rem;
    /* color: var(--acc-color); */
    
}

.logo img{
    height: 32px;
    width: 32px;
    transform: translate(0, 4px);
    margin-right: 0.2rem;
    filter: brightness(0) saturate(100%) invert(96%) sepia(13%) saturate(1669%) hue-rotate(91deg) brightness(102%) contrast(101%); 
    /* From CSS filter generator for #6fffe9 */
}

.logo span{
    font-size: 1rem;
}


/* ############################################# */
/* ############################################# */
/* ############ home Section ################## */
/* ############################################# */
/* ############################################# */

.home{
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-bottom: var(--debug-border) 2px var(--acc-color);
}

.home .right{
    display: flex;
    align-items: center;
    justify-content: center;

}

.home h1{
    font-size: 8rem;
    font-weight: 300;
}

.home span{
    font-family: var(--ft-mono);
    color: var(--acc-color);
    line-height: 3rem;
}

.home .left{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.home a{
    color: var(--acc-color);
    width: fit-content;
    align-content: center;
    text-decoration: none;
    border: solid 2px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.3em;
    margin-top: 1em;
    transition: all 0.2s;
}

.home a:hover{
    border: dashed 2px;
    color: var(--sec-color);
}

.home img{
    height: 512px;
}

/* ############################################# */
/* ############################################# */
/* ############ About Section ################## */
/* ############################################# */
/* ############################################# */

.about{
    scroll-snap-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    padding: 5rem;
    gap: 3rem;
}

.about .details{
    height: 100%;
    color: white;
    text-align: left;
    /* flex-grow: 1; */
    font-size: 1.5rem;
    width: 50%;
}
.about .image-slide{
    /* flex-shrink: 1; */
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 1rem;
    height: auto;
    width: 50%;
    padding: 2rem;
}

.about .image-slide>img{
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    scroll-snap-align: start;
    border-radius: 12px;
    object-fit: cover;
}

.about a{
    text-decoration: underline;
    text-decoration-color: var(--acc-color);
    color: white;
    transition: all 0.2s;
}


.about a:hover{
    /* text-decoration: underline; */
    text-decoration-color: var(--sec-color);
    color: var(--sec-color);
}

.about span{
    font-family: var(--ft-mono);
    color: var(--acc-color);
}

.about h1{
    width: 100%;
    text-underline-offset: 5px;
    text-decoration: underline var(--acc-color) 2px;
    font-weight: 300;
}


/* #################################################### */
/* #################################################### */
/* ############ Achievements Section ################## */
/* #################################################### */
/* #################################################### */

.achievements{
    scroll-snap-align: start;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100vh;
    padding: 5rem;
    gap: 3rem;
    color: white;
}

.achievements h1{
    text-align: left;
    width: 100%;
    text-underline-offset: 5px;
    text-decoration: underline var(--acc-color) 2px;
    font-weight: 300;
    font-size: 3em;
}

.achievements ul{
    list-style: lower-greek;
}
.achievements li{
    font-size: 1.5em;
    margin-left: 1em;
}

.achievements li strong{
    color: var(--acc-color);
    font-family: var(--ft-mono);
}


.skills{
    scroll-snap-align: start;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100vh;
    padding: 5rem;
    gap: 3rem;
    color: white;
}

.skills h1{
    text-align: left;
    width: 100%;
    text-underline-offset: 5px;
    text-decoration: underline var(--acc-color) 2px;
    font-weight: 300;
    font-size: 3em;
}

.skills ul{
    list-style: lower-greek;
}
.skills li{
    font-size: 2em;
}

.skills li strong{
    color: var(--acc-color);
    font-family: var(--ft-mono);
}

.skills i{
    font-size: 3rem;
    padding: 1rem;
    line-height: 2em;
    transition: color 0.2s ease-in-out;
}

.skills .left{
    user-select: none;
    width: 50%;
}

.skills .right{
    width: 50%;
    font-size: 1.5rem;
    padding-top: 1rem;
    line-height: 2em;
}

.skills i:hover{
    color: var(--acc-color);
}


/* #################################################### */
/* #################################################### */
/* ############ Contact Me Section #################### */
/* #################################################### */
/* #################################################### */


.contact{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact .socials{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

.contact .socials a{
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
    
}

.contact .socials a:hover{
    color: var(--acc-color);
    font-size: 2.1rem;
}

.contact .socials i{
    font-size: 2rem;
}

.contact .socials span{
    color: white;
    font-size: 1.2em;
}

.contact .email a{
    color: var(--acc-color);
    border: solid 2px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.3em;
    transition: all 0.2s;
    text-decoration: none;
}

.contact .email a:hover{
    border: dashed 2px;
    color: var(--sec-color);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: white;
    height: 10vh;   
}

footer span{
    color: var(--acc-color)
}

/* #################################################### */
/* #################################################### */
/* ############ Responsive Section #################### */
/* #################################################### */
/* #################################################### */

@media (max-width: 1024px) {
    .home {
      flex-direction: column;
      padding: 2rem;
      text-align: center;
      height: auto;
    }

    .contact{
        flex-direction: column;
    }
  
    .home img {
      height: 300px;
      width: auto;
    }
  
    .home h1 {
      font-size: 5rem;
    }
  
    .home .left {
      font-size: 1.5rem;
      align-items: center;
    }
  
    .about, .skills, .achievements {
      flex-direction: column;
      height: auto;
      padding: 2rem;
      gap: 2rem;
    }
  
    .about .details, 
    .about .image-slide,
    .skills .left,
    .skills .right {
      width: 100%;
    }
  
    .skills {
      align-items: center;
      text-align: center;
    }
  
    .nav {
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.5em;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  
    .logo {
      font-size: 1.5rem;
      padding-left: 2rem;
    }

    footer{
        font-size: 0.8em;
    }
  }
  
  /* Mobile Devices */
  @media (max-width: 600px) {
    header {
      flex-direction: row;
      height: auto;
      padding: 1rem 0;
    }
  
    .nav {
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
    }
  
    .home h1 {
      font-size: 3rem;
    }
  
    .home .left {
      font-size: 1.2rem;
    }
  
    .about .details {
      font-size: 1.2rem;
    }
  
    .achievements li,
    .skills li {
      font-size: 1.2rem;
    }
  
    .skills h1,
    .achievements h1,
    .about h1 {
      font-size: 2rem;
    }
  
    .contact {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      height: auto;
      padding: 1rem;
    }
  
    .contact .email a {
      display: inline-block;
      margin-top: 1rem;
    }
  
    .contact .socials {
      flex-direction: row;
    }
  
    footer {
      font-size: 1rem;
      text-align: center;
      padding: 1rem;
    }
  
    #up-arr {
      font-size: 1.5em;
      height: 2em;
      width: 2em;
      bottom: 0.5em;
      right: 0.5em;
    }
  }
  

  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 1001;
    margin-right: 2rem;
  }
  
  .hamburger span {
    height: 3px;
    width: 100%;
    background: var(--acc-color);
    border-radius: 10px;
    transition: all 0.3s linear;
  }
  
  /* Hide nav and show hamburger on tablets and smaller */
  @media (max-width: 1200px) {
    .hamburger {
      display: flex;
    }
  
    .nav {
      position: absolute;
      top: 10vh;
      right: 0;
      width: 100%;
      background-color: var(--bg-sec);
      flex-direction: column;
      align-items: center;
      padding: 2rem 0;
      gap: 2rem;
      display: none;
    }
  
    .nav.active {
      display: flex;
    }
  }
  